# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
    # specify the version you desire here
    - image: circleci/openjdk:8-jdk-node

    working_directory: ~/repo

    steps:
    - checkout

    - run:
        name: Install Dependencies
        command: npm install

    - run:
        name: Unit Testing
        command: npm test

    - run:
        name: Package
        command: npm run package

    - run:
        name: Deploy KOs to Chipmunk integration server on heroku
        command: |
          .circleci/shelf_deploy.sh https://kgrid-activator.herokuapp.com dist
          curl --write-out '%{http_code}' --silent --output /dev/null  https://kgrid-activator.herokuapp.com/activate
          .circleci/shelf_deploy.sh https://kgrid-library.herokuapp.com/shelf dist

    - run:
        name: Create Release
        command: |

            if [ $RELEASE ]; then
               git config --global user.email "$GIT_USER_EMAIL"
               git config --global user.name "$GIT_USER_NAME"

               .circleci/release.sh
            fi

    - run:
        name: Deploy VuePress GitHub Pages
        command: |
            chmod 777 .circleci/vuepress_deploy.sh && .circleci/vuepress_deploy.sh

    - store_artifacts:
        path: dist

    - store_test_results:
        path: test-results


workflows:
  version: 2
  main:
    jobs:
    - build:
        filters:
          branches:
            only: master
